@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}
.forgotPassword{
    &__container{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &__content{
            // box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.158);
            display: flex;
            flex-direction: column;           
            padding: 3em;
            // justify-content: center;

            &__logo{
                width: 150px;
                height: 150px;
                border-radius: 50% 50%;
                background: #E7F2EE;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                margin-bottom: 1em;
                img{                   
                    width: 70%;
                }
            }
            &__verify{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: rgba(0, 0, 0, 0.57);
                font-size: 15px;
                font-weight: 400;
                margin-bottom: 1.5em;
            }
            &__input{
                width: 350px;
                margin-bottom: 1em;
                background:#E7F2EE ;
                & > input {
                    background:#E7F2EE ;
                    
                }
                &:focus {
                    border: none;
                }
            }
            &__button{
                box-sizing: content-box;
                margin: 1em 0;
                font-weight: 400;
                font-size: 1.1em;
            }
            
        }
    }
    &__polygon{
        height: 72.85%;
        z-index: -1;
        position: absolute;
        bottom: 8%;
        right: 0;
        img {
            height: 100%;
        }
    }
}
:where(.css-dev-only-do-not-override-1w4v3hc).ant-input-affix-wrapper >input.ant-input {
    padding-left: 1em;
}