.home {
  width: 97%;
  height: 92%;
  margin: 0 auto;
  margin-top: 2em;
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1.3fr;
  &__recent_sale {
    position: relative;
    background-color: #fff;
    border: 2px solid rgba(21, 122, 254, 0.19);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
    &__header {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 2.25em;
      border-bottom: 1.5px solid var(--primary-color);

      &__total_sale {
        width: 70%;
        color: var(--secondary-color);
        font-size: 1.2rem;
        font-weight: 500;
        span {
          &:nth-child(1) {
            color: var(--primary-color);
          }
          font-size: 1.3rem;
          font-weight: 500;
          letter-spacing: 0.09969rem;
          &:nth-child(2) {
            font-family: "Courgette";
            margin-left: 2px;
            img {
              width: 13px;
              margin-bottom: 0.4em;
            }
          }
        }
      }
      &__clock {
        width: 30%;
        border-left: 1.5px solid var(--primary-color);
        text-align: right;
        padding: 1em;
        &__time {
          color: var(--primary-color);
          font-size: 1.4rem;
          font-weight: 500;
          letter-spacing: 0.09969rem;
          margin-bottom: 0.2em;
        }
        &__date {
          color: rgba(0, 0, 0, 0.49);
          font-size: 1.1875rem;
          font-weight: 500;
          span {
            color: #ff6712;
          }
        }
      }
    }

    h3 {
      margin: 2.5em 5%;
      margin-bottom: 1em;
      display: inline-block;
      font-size: 1.2rem;
      color: #ff6712;
      font-weight: 500;
      font-family: "Courgette";
      &:hover {
        color: var(--primary-color);
        font-weight: 600;
      }
    }

    &__table {
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 5%;
      right: 5%;
      background-color: #fff;
      border: 1px solid rgba(39, 55, 77, 0.11);
      box-shadow: 0px 4px 11px 0px rgba(21, 122, 254, 0.19);

      &__header {
        @include recent_sale_table_content;
        box-shadow: 0px 4px 11px 0px rgba(21, 122, 254, 0.125);
        div {
          font-weight: 700;
        }
        div:first-child {
          flex-grow: 2;
        }
        z-index: 2;
      }

      &__contents {
        flex-grow: 2;
        z-index: 1;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }

      &__content {
        @include recent_sale_table_content;

        &:hover {
          box-shadow: 11px 4px 11px 0px rgba(21, 122, 254, 0.25);
          border-top: 1px solid rgba(21, 122, 254, 0.19);
          border-bottom: 1px solid rgba(21, 122, 254, 0.19);
        }
        div:first-child {
          width: 10%;
          padding: 0;
          @include center_this;
          img {
            overflow: hidden;
            width: 20%;
            height: 80%;
            object-position: top;
            object-fit: cover;
          }
        }
        div:nth-child(2) {
          flex-grow: 2;
          text-align: left;
          padding-left: 3em;
        }
      }
    }
  }
  &__upsale {
    background-color: #fff;
    border: 2px solid rgba(21, 122, 254, 0.19);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;

    padding-bottom: 1em;

    &__heading {
      @include heading;
    }
    &__table {
      flex-grow: 2;
      &__content {
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
          text-align: center;
        }

        div:first-child {
          width: 18%;
          img {
            width: 80%;
            margin: 0 auto;
          }
        }
        &__product_name {
          color: var(--secondary-color);
          font-weight: 500;
          flex-grow: 2;
          @include prevent_selected;
          &:hover {
            color: var(--primary-color);
          }
        }

        div:nth-last-child(1) {
          width: 15%;
        }
      }
    }
  }
  &__order_list {
    background-color: #fff;
    border: 2px solid rgba(21, 122, 254, 0.19);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;
    position: relative;

    &__heading {
      @include heading;
    }
    &__contents {
      position: absolute;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      top: 20%;
      left: 0;
      right: 0;
      bottom: 24%;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    &__content {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 3%;
      display: flex;
      flex-direction: row;
      border-radius: 1em;
      background: rgba(130, 112, 112, 0.13);
      padding: 0 0.8em;

      &-checked {
        background: rgba(21, 122, 254, 0.15);
      }

      div {
        color: var(--secondary-color);
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.8em 0.5em;
        &:nth-child(2) {
          flex-grow: 2;
        }
        &:nth-child(3) {
          display: flex;
          flex-direction: row;
          &::after {
            content: "";
            display: block;
            background-color: rgba(130, 112, 112, 0.21);
            width: 1px;
            height: 100%;
            margin-left: 1em;
          }
        }
        &:last-child {
          color: var(--primary-color);
          font-weight: 700;
          display: flex;
          flex-direction: row;
          &::before {
            content: "";
            display: block;
            background-color: rgba(130, 112, 112, 0.21);
            width: 1px;
            height: 100%;
            margin-right: 1em;
          }
        }
      }
      input {
        margin: 0 0.6em;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    &__add_order-btn {
      @include center_this;
      @include prevent_selected;
      align-items: flex-end;
      text-align: center;
      position: absolute;
      bottom: 8%;
      left: 5%;
      right: 5%;
      padding: 0.5em 0;

      border-radius: 0.75rem;
      border: 1px solid rgba(21, 122, 254, 0.19);
      background: #fff;
      box-shadow: 0px 4px 16px 0px rgba(21, 122, 254, 0.15);

      color: rgba(21, 122, 254, 0.93);
      font-weight: 500;

      &:hover {
        transform: scale(1.02);
        font-weight: 700;
      }

      img {
        width: 20px;
        aspect-ratio: 1/1;
        margin-right: 5px;
      }
    }
    &__input_box {
      width: 20%;
      height: 50%;
      position: absolute;
      right: 7.5%;
      bottom: 14%;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      z-index: 2;
      @include center_this;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__heading {
        text-align: center;
      }
    }
    &__input_form {
      width: 90%;
      margin: 1.5em auto;
      &__button {
        margin-top: 1em;
        width: 100%;
      }
    }
  }
}
